{{ define "main" }}

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

<div class="container">
    <div class="columns">
        <div class="column is-half image-column">
            <!--
            <h1 class="title">qs3c blog</h1>
            <h2 class="subtitle">Blog about information security</h2>
            -->

            <hr/>
            <ul>
                {{ range (first 10 $section) }}
                <li><a href="{{.URL}}">{{.Title}}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>


{{ end }}

